@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


$main-white: hsl(0, 0%, 100%);
$main-light-gray: hsl(212, 45%, 89%);
$main-grayish-blue: hsl(220, 15%, 55%);
$main-dark-blue: hsl(218, 44%, 22%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::after,
  ::before {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
}


.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}