@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


$main-white: hsl(0, 0%, 100%);
$main-light-gray: hsl(212, 45%, 89%);
$main-grayish-blue: hsl(220, 15%, 55%);
$main-dark-blue: hsl(218, 44%, 22%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::after,
  ::before {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: $main-light-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 13rem;
  height: 22rem;
  background-color: $main-white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  gap: 0.46rem;

  .image {
    width: 12rem;
    height: 12rem;
    border-radius: 5px;
  }

  .caption-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: 1rem;
      color: $main-dark-blue;
    }

    p {
      font-size: 0.9375rem;
      color: $main-grayish-blue;
    }
  }
}

.image-and-caption {
  position: relative;
  bottom: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}