:root {
  --main-white: hsl(0, 0%, 100%);
  --main-light-gray: hsl(212, 45%, 89%);
  --main-grayish-blue: hsl(220, 15%, 55%);
  --main-dark-blue: hsl(218, 44%, 22%);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}